/*===== Logo Importainer =====*/
/* .logo-princ {
  width: 1300px;
  height: 70px;
  display: flex;
  background:rgba(0, 0, 0, .7);
  align-items: center;
  margin-left: 50px;
  margin-top: -10px;
  cursor: pointer;
  z-index: 5;
}

.logo-princ > img {

  background:rgba(255, 0, 0, 0.7);
  width: 1000px;

} */

.logoP {

  width: 15%;
  height: 5%;
  object-fit: cover;
  align-items: center;
  margin: 0 3%;
  display: flex;

}

.logo {
  opacity: 0.8;
}

.container {
  padding: 50px 0;
  margin: auto;
  overflow: hidden;
  z-index: 4;
}

/*===== Header =====*/
.all {
  position: absolute;
  /* bottom: 100vh; */
  top: 0vh;
  z-index: 100;
}

.menuBtnP {
  display: none;
}

.menuBtnP {
  display: flex;
  padding-top: 30px;
}

.navMenuP {
  background:rgba(255, 255, 255, .3);
  text-align: right;
  padding: 0% 5%;
  display: flex;
  position: absolute;
  right: 20px;
  border-radius: 20px;
}

.navMenuP a {
  font-weight: 500;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 10px;
}

.navMenuP a:hover {
  text-decoration: underline;
}

.navMenuP ul a {
  margin-left: 10px;
}

.navRightP a {
  color: var(--blanco-titulo);
}

/*===== Responsive =====*/

@media screen and (max-width: 1940px) {
  .navMenuP a {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 800px) {
  /*===== Menu Responsive =====*/

  .all {
    position: static;
  }

  .logo-princ {
    position: absolute;
    top: 32px;
  }

  p {
    font-size: 1rem;
  }

  .navMenuP {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.61);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(-500%);
    transition: transform 0.8s ease-in-out;
  }

  .navMenuP.show {
    transform: translateX(0%);
    background: rgba(0, 0, 0, .7);
    backdrop-filter: blur(2px);

  }

  .fa-bars {
    z-index: 100;
  }
  .navMenuP ul {
    display: block;
    position: absolute;
    padding-top:-300px;

  }

  .navRightP {
    top: 28%;
  }

  .navRightP a {
    margin-top: 80px;
    display: block;
    text-align: center;
    font-size: 30px;
  }

  .logo-princ {
    margin-left: 0px;
  }

  .menuBtnP {
    display: flex;
    position: absolute;
    top: 32px;
    right: 30px;
    color: #000;
  }
}

@media screen and (max-width: 430px) {
  /*===== Resp menu =====*/

  .navRightP a {
    margin-top: 50px;
    font-size: 20px;
  }
}
