.BannerFinalSecond {
    position: relative;
    
    display: flex;
    overflow: hidden;
    flex-wrap: nowrap;
    
    width: auto;
    height: 26em;
    max-height: 100vh;
    /* filter: brightness(70%); */
    
    /* z-index: 2; */
  }
  
  /* HEIGHT POP UP */
  
  /* .tamPopup {
  
    height: 26em;
  
  } */
  
  /* .tamPopup > img {
  
    filter: brightness(1000%);
  
  } */
  
  /* HEIGTH POP UP */
  
  .ContenedorSlideSecond {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .ContentArrow {

    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
    /* background: rgba(255, 0, 0, 1); */

    z-index: 10000;

    /* border: 1px solid red; */

  }

  .arrowLeft, .arrowRight {

    position: fixed;
    top: 30%;

    background: transparent;
    margin: 2em;
    padding: .2em;
    border: 1px solid rgba(201, 1, 1, 0);
    border-radius: 50%;
    filter: blur(3em);
    transition: all .7s, filter 1s;

    z-index: 100;

  }

  .ContentArrowFilter {

    filter: blur(0em);

  }

  .arrowLeft:hover, .arrowRight:hover {

    cursor: pointer;
    background: rgba(232, 232, 232, 0.7);
    border: 1px solid red;

  }

  .arrowLeft {

    transform: rotate(270deg);

  }

  .arrowRight {

    right: 0;

    transform: rotate(90deg);

  }
  
  /*===== Responsive ======*/
  @media screen and (max-width: 1250px) {
    .BannerTitulo {
      font-size: 3rem;
    }
  }
  
  @media screen and (max-width: 800px) {
    .BannerFinalSecond {
        height: 100%;
    }
  }
  
  @media screen and (max-width: 500px) {
    .BannerTitulo {
      font-size: 1.5rem;
    }
    .BannerSubtitulo {
      margin-top: 1px;
      font-size: 1.2rem;
    }
    .BotonBanner {
      margin-top: 8px;
      max-width: 95px;
      padding: 5px 0px;
      font-size: 1rem;
    }
  }