
.contentProyectsCards {

    display: flex;
    justify-content: space-between;

    width: 70%;
    margin: 3em auto;

    /* border: 1px solid red; */

}

.contentProyectsCards:nth-child(even) {

    flex-direction: row-reverse;
    
}

.contentImg {

    width: 40%;
    padding: 1em;

    /* border: 1px solid red; */

}

.contentImg img {

    width: 100%;
    height: 20em;
    object-fit: cover;
    border: 2px solid black;

}

.bodyProyectCard {

    width: 60%;
    padding: 2em;

}

.bodyProyectCard p {

    margin: 1em 0;

}

.contentBTN {

    display: flex;
    justify-content: space-between;

    width: 70%;

}

.btnVer, .btnCon {

    display: flex;
    justify-content: center;
  
    width: 45%;
    border: 1px solid black;
    margin: 0 0 1em 0;
    padding: .5em;
    font-weight: bold;
  
}

.btnVer {

    background: rgba(0, 0, 0, 1);
    color: white;
  
}
  
.btnCon p {
  
    color: black !important;
  
}
  
.btnVer:hover, .btnCon:hover, .btnCon:hover p {

background:rgba(185, 0, 0, 1);
color: white !important;
cursor: pointer;

}

@media screen and (max-width: 1300px) {

    .contentProyectsCards {

        width: 80%;

    }
    
}

@media screen and (max-width: 1000px) {

    .contentProyectsCards {

        width: 95%;

    }

    .bodyProyectCard {

        padding: 1em;

    }

    .bodyProyectCard p {

        font-size: .9em;

    }
    
}

@media screen and (max-width: 800px) {

    .contentBTN {

        width: 100%;

    }
    
}