.ContainerPG {

    /* height: 100vh; */
    background: rgba(232, 232, 232, 1);

}

.containerGroup {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1em;

    width: 90%;
    margin: 0 auto;
    padding: 3em 0;

}

.ContainerPG h1 {

    padding: 1em 0 0 0;
    font-size: 3em;
    /* line-height: 3em; */
    text-align: center;

}

@media screen and (min-width: 800px) {

    .containerGroup {

        grid-template-columns: repeat(2, 1fr);

    }
    
}

@media screen and (min-width: 1100px) {

    .containerGroup {

        grid-template-columns: repeat(3, 1fr)

    }
    
}