.Content {

    /* Positioning */
    position: fixed;
    right: 5%;
    bottom: 10%;
    z-index: 10;

    /* Box-model */
    height: 3em;
    display: flex;

    /*Visual*/
    background: rgba(255, 255, 255, 0.5);
    border-radius: 2em;

}

.text {

    /*Box-Model*/
    margin: auto .5em;

    /*Typography*/
    color: #000;
    font-size: 1.5em;
    font-weight: bold;

}

.icon {

    /*Box-Model*/
    width: 30%;

    /* Visual */
    background-color: #fff;
    border: 3px solid black;
    border-radius: 50%;

}