.contenedor {

    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;

    background: grey;

}

.contInt {

    position: relative;

    width: 500px;
    height: 300px;

    background: red;

    /* transition: all 2s; */
    /* clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%); */
    /* clip-path: polygon(0% 50%, 10% 40%, 20% 50%, 30% 40%, 40% 30%, 50% 20%, 60% 20%, 70% 30%, 80% 40%, 90% 50%, 100% 50%, 100% 100%, 0% 100%); */
    clip-path: polygon(
        0% 0%, 
        0% 70%, 
        5% 67%,
        10% 65%,
        15% 64%, 
        25% 64%,
        33% 66%,
        37% 68%,
        40% 70%,
        45% 73%,
        50% 76%, 
        60% 80%,
        65% 81%,
        72% 82%, 
        75% 82%,
        80% 81%,
        85% 79%, 
        90% 77%,
        100% 70%, 
        100% 0
    );

}

.contenedor:hover .contInt {

    animation: move 1.5s ease;

}

@keyframes move {

    from {

        top: -100px;

    }

    to {

        top: 0px;

    }
    
}