.ConsultasContent {

    width: 100%;
    background: url(../../../images/fondos/20-12\ FONDO\ WEB-02.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #000000;
    text-align: center;

}

.arrowContent {

    height: 4.5em;
    /* border: 1px solid #000000; */
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    justify-content: space-between;

}

.arrowContent > div {

    width: 10%;
    display: block;
    /* border: 1px solid #000000; */
    margin: 0 auto;
    padding: 0;

}