.ConsultasContent {

    width: 100%;
    background: url(../../../images/fondos/20-12\ FONDO\ WEB-02.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #000000;
    text-align: center;

}

.arrowContent {
    width: 75%;
    height: 3em;
    border: 1px solid #000000;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    margin: 0 auto;
    padding: .2em 0 0 0;
    /* display: flex;
    justify-content: space-around; */

}

.arrowRight, .arrowLeft {

    width: 4% !important;
    height: 3.2em;
    /* border: 1px solid #000000; */

}

.arrowRight:hover, .arrowLeft:hover {

    cursor: pointer;

}

.arrowContent > div {

    width: 10%;
    display: block;
    /* border: 1px solid #000000; */
    margin: 0 auto;
    padding: 0;

}