.contactContainer {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5em 1em;
    grid-auto-rows: minmax(1fr, auto);

    width: 90%;
    height: 200%;
    margin: 0 auto;

}

.content1 {

    grid-column: 1 / 3;
    grid-row: 1;

    padding: 0 1.5em;

}

.content1 h1 {

    font-size: 1.5em;

}

.content2 {

    grid-column: 1 / 3;
    grid-row: 2 / 2;

}

.content2 p {

    width: 95%;
    margin: 0 auto;

}

.content4 {

    grid-column: 1 / 3;
    grid-row: 3 / 3;

    padding: 0 1em;

}

.content4 ul li {

    list-style: none;

}

.content4 ul li:before {

    font-size: 1.3em;
    font-weight: bold;
    content: "- ";

}

.content4 p {

    margin: 0.5em;

}

.contentForm {

    margin: 1em;

}

.contentForm p {

    font-size: .8em;
    margin:  0;
    padding: 0;

}

.contentForm form {

    margin: 0;

}

.content3 {

    display: none;

}

.content5 {

    grid-column: 1 / 3;
    grid-row: 5 / 5;

    height: 25em;

}

.contentMap, .img1 {

    height: 100%;

}

.contentMap {

    padding: 0.5em;
    border: 1px solid #000;

}

.gmap_iframe {

    width: 100% !important;
    height: 100% !important;

}

.img1 {

    background: #999;
    text-align: center;
    vertical-align: middle;
    padding: 10em;

}

@media screen and (min-width: 800px) {

    .contactContainer {

        margin-top: 2em;

    }
    
}

@media screen and (min-width: 1000px) {

    .contactContainer {

        width: 95%;

    }

    .content2 {
    
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    
    }

    .content3 {

        display: block;
    
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    
    }

    .content5 {
    
        grid-column: 2 / 3;
        grid-row: 3 / 4;

        height: 17em;
    
    }

}