.CreatePubContent {

    width: 100%;
    height: 100vh;
    background: url(../../../images/fondos/20-12\ FONDO\ WEB-02.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #000000;
    text-align: center;

}

.CreatePubContent > h1 {

    margin: 1.5em 0 1em 0;
    font-size: 2.5em;

}