.EntDetailContent {

    padding: 0 5%;

}

.der__h1 {

    width: 40%;
    border-bottom: 2px solid red;
    border-right: 2px solid red;
    transform: skewX(30deg) translateX(120px);
    text-align: end;

}

.der__h1 h1 {

    width: 100%;
    position: relative;
    transform: skewX(-30deg) translateX(-120px);
    left: 10%;

}

.EntDetailContent__contentColum {

    display: flex;
    margin: 2em 0;

}

.contentColum__izq, .contentColum__der {

    width: 45%;
    margin: 0 auto;

}

.contentColum__der h1 {

    border: 0;
    transform: skewX(0deg) translateX(0px);

}

.contentColum__der h2 {

    width: 100%;
    text-decoration: underline red;

}

.contentColum__der h2, .contentColum__der h4 {

    margin: 1em 0 0 0;
    padding: 0 1.5em;

}

.contentColum__der h4 {

    width: 80%

}

.display__img {

    width: 45%;
    opacity: 0;
    position: absolute;
    transition: opacity 1.5s;

}

.display__img img {

    width: 90%;
    margin: 0 auto;
    z-index: 0;
    object-fit: cover;

}

.izq__list {

    display: flex;

}

.list__img {

    width: 100%;

}

.list__img:hover {

    cursor: pointer;

}

.list__img img {

    width: 100%;
    height: 3em;
    object-fit: cover;

}