
nav {

  position: relative;

  margin: 0;
  padding: 0;

}

/*===== Header =====*/

.header {

  height: 5em;
  background:rgba(0, 0, 0, 1);
  padding: 0em 2em;

}

.menuBar {

  display: flex;
  justify-content: space-between;

  height: 5em;

  /* border: 1px solid green; */

}

.navMenu {

  display: flex;
  justify-content: flex-end;

  width: 200%;

}

.navRight {

  display: flex;
  justify-content: space-between;
  
  width: 30%;
  list-style: none;

  /* border: 1px solid red; */

}

.navRight li {

  padding: 1em 0 0 0;
  color: #fff;

}

.menuBtnS {
  display: none;
}

/*===== Logo Importainer =====*/

.logo-princ {

  display: flex;
  
  height: 70px;
  width: 130px;

}

.logoP img {
  
  width: 15em;
  margin: .7em 0 0 0;

  /* border: 1px solid blue; */

}

.show {

  transform: translateX(0%);
  background: rgba(0, 0, 0, .7);
  backdrop-filter: blur(2px);

}

/*===== Responsive =====*/

@media screen and (max-width: 1500px) {

  /* .logoP img {

    width: 30%;

  } */

  .navRight {

    width: 50%;

  }

}

@media screen and (max-width: 1200px) {

  /* .logoP img {

    width: 40%;

  } */

  .navRight {

    width: 70%;

  }

}

@media screen and (max-width: 1000px) {

  /* .logoP img {

    width: 50%;

  } */

  .navRight {

    width: 100%;

  }

}

@media screen and (max-width: 800px) {
  /*===== Menu Responsive =====*/

  .header {

    padding: .5em 1em;

  }

  .logoP img {

    /* width: 100%; */
    height: 4em;
    margin: 0;
    
  }

  .navMenu {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.61);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(500%);
    transition: transform 0.8s ease-in-out;
  }

  .navMenu.show {
    transform: translateX(0%);
    z-index: 100;
  }

  .navMenu ul {
    display: block;
    position: absolute;
  }

  .navRight {
    top: 28%;
  }

  .navRight a {
    margin-top: 80px;
    display: block;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
  }

  .logo-princ {
    margin-left: 0px;
  }

  .menuBtnS {
    display: flex;
    position: absolute;
    top: 32px;
    right: 30px;
    color: #ffffff;
    font-weight: 100;
    z-index: 100;
  }

  .fa-times {
    transition: 2500ms;
    color: #ffffff;
  }
  .header {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 430px) {
  /*===== Resp menu =====*/

  /* .logo-P img {

    width: 15em;
    
  } */

  .nav-right a {
    margin-top: 50px;
    font-size: 20px;
  }
  .header {
    margin-bottom: 70px;
  }
}
