
.loginContent {

    background: rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    border-radius: 50%;

}

.loginContent:hover {

    background: rgba(0, 0, 0, 0.5);

}

.loginContent__menuItem {

    color: #000;

}