.perfilContent {

    width: 100%;
    height: 100vw;
    background: url(../../../images/fondos/20-12\ FONDO\ WEB-02.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border: 1px solid #000000;

}

::-webkit-scrollbar {

    display: none;

}

.perfilContent__NavBar {

    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);

}

.perfilContent__Tabs {

    height: 40%;
    margin: 1em 0;
    padding: 0 1em;

}

.perfilContent__Tabs > ul {

    width: 70%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    font-weight: bold;

}
/*  */
.perfilContent__Tabs > ul > li {

    width: 34%;
    height: 2.5em;
    border: 1px solid red;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 1em 1em 0 0;
    border-bottom: 0;
    cursor: pointer;

}

.Tabs__None {

    background: rgba(255,255,255,.9);

}

.Tabs__contentDate {

    position: relative;

}

.Tabs__contentDate > div {

    width: 87%;
    height: 10em;
    /* position: absolute; */
    border: 1px solid red;
    border-radius: 0 1em 1em;

}

.contentDate__None {

    display: none;
    visibility: visible;
    
}

.Tabs__Active, .contentDate__Active {

    display: block;
    visibility: inherit;
    background: linear-gradient(180deg, rgba(150, 150, 150, 0.9) 0%, rgba(255, 255, 255, .9) 100%);
   
}

@keyframes delay {

    from {

        position: relative;
        left: 28%;

    }

    to {

        position: relative;
        left: 0;

    }
    
}

.contentDate__datePerson {

    padding: 0.5em 1em;

}

.contentDate__datePerson, .contentDate__datePlan {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

}

.contentDate__datePerson > h3 {

    grid-column: 1 / 3;
    text-align: center;

}

.contentDate__datePlan {

    padding: 1.5em;

}

.contentDate__resPlan {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .7em;
    padding: 0.5em 1.5em;

}

.contentDate__datePerson > h3,
.contentDate__datePerson > h4,
.contentDate__datePlan > h4,
.contentDate__resPlan > h4 {

    animation: delay 2s;

}

.perfilContent__infoFooter {
    
    padding: 0 1em;
    display: relative;

}

.perfilContent__Aux {

    width: 95%;
    background: linear-gradient(180deg, rgba(255,255,255,.3) 10%, rgba(255,255,255,.9) 100%);
    margin: 0 auto;
    padding: 1em;
    
}

.perfilContent__Aux > h1 {

    text-decoration: underline;
    text-decoration-color: red;

}

@media screen and (max-width: 800px) {

    .contentDate__resPlan {

        grid-template-columns: 1fr 1fr;
        /* padding: 1em; */

    }

    .perfilContent__Aux > h1 {

        font-size: 1.5em;

    }

    .perfilContent__Tabs > ul {

        width: 87%;

    }

    .perfilContent__Tabs > ul > li {

        font-size: .9em;

    }

    .Tabs__contentDate > div {

        border-radius: 0 0 1em 1em;

    }

    .contentDate__datePerson > h3 {

        font-size: 1em;

    }

    .contentDate__datePerson > h4,
    .contentDate__datePlan > h4,
    .contentDate__resPlan > h4 {

        font-size: .9em;

    }

    .perfilContent__infoFooter > h3 {

        font-size: .9em;

    }

    .perfilContent__infoFooter > p {

        font-size: .8em;

    }
    
}

@media screen and (max-width: 600px) {

    .perfilContent__Aux > h1 {

        font-size: 1.3em;

    }

    .perfilContent__Tabs > ul > li {

        font-size: .7em;

    }

    .contentDate__datePerson > h3 {

        font-size: .8em;

    }

    .contentDate__datePerson > h4,
    .contentDate__datePlan > h4,
    .contentDate__resPlan > h4 {

        font-size: .7em;

    }

    .contentDate__datePerson {

        padding: 1em 2em;

    }

    .contentDate__resPlan {

        padding: 1em 2em;

    }
    
    .perfilContent__infoFooter > h3 {

        font-size: .7em;

    }

    .perfilContent__infoFooter > p {

        font-size: .6em;

    }

}